<div class="product">
    <div>
        <h1>
            {{product.nombre}}
        </h1>
        <div class="imagen">
            <img src="{{url+'GetImagen/'+product.imagen}}" *ngIf="product.imagen">
        </div>
        <p>TIPO: {{product.tipo}}</p>
        <p>{{product.caracteristicas}}</p>
        <p>CANTIDAD DISPONIBLE: {{product.cantidad}}</p>
        <p>PRECIO: {{product.precio}} $</p>
    </div>
    <div *ngIf="!confirm">
        <a [routerLink]="['/EditarProducto',product._id]" class="bttn-edit">Editar Producto</a>
        <a (click)="confirm=true" class="bttn-delete">Borrar Producto</a>
    </div>
    <div *ngIf="confirm">
        <span class="confirmacion">¿ESTA SEGURO QUE DESEA ELIMINAR EL Producto?</span>
        <a (click)="confirm = false" class="bttn-cancelar">cancelar</a>
        <a (click)="deleteProduct(product._id)" class="bttn-eliminar">ELIMINAR</a>
    </div>
</div>