<div class="carritoItem" *ngIf="itemCarrito.cantidad > 0">
    <ul (click)="clicked = !clicked">
        <li>
            Nombre: {{itemCarrito.nombre}}
        </li>

        <li>
            cantidad reservada: {{itemCarrito.cantidad}}
        </li>

        <li>
            precio: {{itemCarrito.precio}}
        </li>
        <li>
            <div class="imagen">
                <img *ngIf="itemCarrito.imagen" src="{{url+'GetImagen/'+itemCarrito?.imagen}}">
            </div>
        </li>
    </ul>
    <div *ngIf="clicked">
        <form #Form>
            <label>Cantidad</label>
            <input type="number" #cantidad min="1" max={{itemCarrito.cantidad}} (blur)="ajustarValorCantidad(cantidad)">

            <button (click)="carService.takeOutCarItem(itemCarrito,cantidad.valueAsNumber)">sacar del carito</button>
        </form>
    </div>
</div>