.CajaLinks {
    display: inline-flex;
    background-color: #023164;
    height: 4rem;
    width: 100%;
}

.CajaLinks li {
    list-style: none;
    width: 10rem;
    background-color: darkcyan;
    border: solid 0.1rem azure;
    text-align: center;
    
}

.CajaLinks li a.actived {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CajaLinks li a {
    text-decoration: none;
    display: block;
    height: 3.9rem;
}